{% extends "base/basic.html" %}
{% load staticfiles %}

{% block content %}

<div class="wrapper">

<div class="back_to_message"><a href="/">पीछे संदेश के लिए</a></div>

{% if accepted == 'yes' %}
<!--
<img class="promo" src="{% static 'img/promo_en.png' %}"/>
-->


<div class="content">

	<p id="site-title">परमेश्वर प्रेम है</p>

	<h3>यीशु मसीह परमेश्वर का श्रेष्ठतम व सिद्ध उपहार है।.</h3>

	<div>
    वह स्वर्ग से भेजा गया उपहार है, जिसे परमेश्वर ने स्वेच्छा से हमें दिया है क्योंकि हमें इसकी बहुत अधिक आवश्यकता थी। अपने बेटे के माध्यम से उद्धार देने की यह प्रस्तुति व्यक्तिगत भी है और सार्वभौमिक भी। (यूहन्ना 3 :16)। जो भी उसे ग्रहण करता है वह उसकी असीम निधि को खोज लेता है।
	</div>

	<h3>परमेश्वर का उपहार हमें बचाता है।.</h3>

	<div>
    जब यीशु हमारा उद्धारकर्ता बन जाता है, तब हमें अपने पापों से क्षमा मिल जाती है। वह हमें अपने पापों के दण्ड से मुक्ति दिलाता है। (रोमियों 8:1)। परमेश्वर का यह उपहार विश्वासियों को अनन्त मृत्यु से बचाता है, जिसका अर्थ परमेश्वर से सदा के लिए अलगाव हो सकता है।
	</div>


	<h3>परमेश्वर का उपहार अनन्त है।</h3>

	<div>
    यीशु जो हमें देता है, वह सदा के लिए होता है। अपने उद्धार के दिन से मसीह का आत्मा हमारे भीतर वास करता है और सदा हमारे साथ रहता है। (यूहन्ना 14:16)। परमेश्वर के परिवार के स्थायी सदस्य होने के नाते, हमारे पास स्वर्ग की मिरास है जो न तो नष्ट होती है और न ही बीतती है। (1 पतरस 1:3-5)।
	</div>


	<h3>परमेश्वर का उपहार प्रेम से परिपूर्ण है।</h3>

	<div>
    निःस्वार्थ प्रेम ने पिता को प्रेरित किया कि वह हमारे स्थान पर अपने बेटे का बलिदान दें। हममें से कोई भी इस उपहार को पाने के योग्य नहीं था। हम सभी ने पाप किया है। (रोमियों 3:10)। हम में से हरेक व्यक्ति, परमेश्वर को छोड़ अपनी इच्छाओं के पीछे भाग रहा है। हमारे ऐसा होने के बावजूद, परमेश्वर ने अपना स्नेह हम पर दिखाया, और अपने बेटे के जीवन व मृत्यु के माध्यम से हमारे प्रति अपने प्रेम को सिद्ध किया। उसके प्रेम के द्वारा हम पापों के दासत्व से छुड़ाये गये और ऐसे व्यक्ति में बदल गये जैसा कि वह हमे बनाना चाहता था।
	</div>

	<h3>परमेश्वर का प्रेम शांति का वाहक है।</h3>

	<div>
    जो शांति परिस्थितियों पर टिकी होती है, वह असल शांति नहीं होती। यह मनुष्य व संसार के बीच एक क्षणभंगुर शांति है जो बहुत सरलता से भंग हो जाती है। यीशु मसीह हमें सच्ची शांति देता है; एक ऐसी शांति जो स्थायी व अटूट है, और परिस्थितिजन्य नहीं है। लेकिन एक पापमय जीवन शांति को असंभव बना देता है। परमेश्वर की इच्छा के विरुद्ध कार्य करने पर लोगों को सच्ची शांति का अनुभव नहीं हो सकता है। इसलिए, जब एक विश्वासी यीशु में अपने विश्वास को व्यक्त करता है, तब अपने बनाये नियमों की कोई जगह नहीं होती।
	</div>

    <div>
    प्रभु के अधीन रहने से परमेश्वर की शांति आपके जीवन को भर देती है। जब हमारे भीतर पवित्र आत्मा का वास होता है, तब हम जीवन की हर परिस्थिति का सामना पूरे हियाव व अचलता के साथ कर सकते हैं। इस स्थायी शांति को प्राप्त करने का एकमात्र मार्ग प्रभु यीशु है।
    </div>

    <div>
    रोमियों 5:1 में, पौलुस स्पष्ट करता है कि धर्मी ठहराये जाने, अर्थात् अपराधमुक्त घोषित किये जाने के लिए, हमारा मसीह के उस बलिदान को ग्रहण करना आवश्यक है जो उसने हमारे स्थान पर दिया है। धर्मी ठहराये जाने से हम परमेश्वर के समक्ष सही ठहरते हैं और यह हमारे मन को परमेश्वर की समस्त बातों के लिए खोलता है।
    </div>
    
    <div>
    या आपने परमेश्वर से कहा कि आप उसके बेटे के उस बलिदान को मानते हैं जो उसने आपके लिए किया था?
    </div>

    <div>
    <b>क्या आप यीशु मसीह के बारे में अधिक जानकारी चाहते हैं?</b>
    </div>
    
    <div>
    <b>हमें अपनी ईमेल दे छोड़ दें।</b>
    </div>    

{% else %}

<!--
<img class="promo" src="{% static 'img/promo_2_en.png' %}"/>
-->

<div class="content">

	<p id="site-title">परमेश्वर</p>

	<h3>हम आपको एक सही फैसला लेने के लिए कर सकते हैं।</h3>

	<div>
	उपहार प्राप्त करने के लिए आपको कोई कीमत नहीं चुकानी है। यह उपहार परमेश्वर ने हमें बिना कोई दाम चुकाये ही दिया है, और जो भी चाहे वह इसे ग्रहण कर सकता है।
	</div>
    
	<div>
    यीशु मसीह परमेश्वर का श्रेष्ठतम व सिद्ध उपहार है। वह स्वर्ग से भेजा गया उपहार है, जिसे परमेश्वर ने स्वेच्छा से हमें दिया है क्योंकि हमें इसकी बहुत अधिक आवश्यकता थी। अपने बेटे के माध्यम से उद्धार देने की यह प्रस्तुति व्यक्तिगत भी है और सार्वभौमिक भी। (यूहन्ना 3:16)। जो भी उसे ग्रहण करता है वह उसकी असीम निधि को खोज लेता है।
    </div>

    <div>
    <b>लेकिन किसी भी अन्य उपहार के समान, यह भी तब तक आपका नहीं होता जब तक कि आप इसे पहले ग्रहण न कर लें।</b>
    </div>

	<div>
	<b ><font style="color:#3399FF;">आपके हर प्रकार के प्रश्नों का उत्तर देने हम उपस्थित हैं। हमें अपना ईमेल पता दे दीजिए</font></b>   
	</div>


{% endif %}

{% if mssg %}
	<div>
	<b ><font style="color:#FF6633;">{{mssg}}</font></b>   
	</div>


{% endif %}


	<form class="form-inline" action="{% url 'webpages:acceptform' %}?accepted={{accepted}}" method="post">
	{% csrf_token %}
    
	<div class="row">
		<div class="col-md-12"> 
			<label class="control-label" style="margin-right:5px;margin-top:5px;font-size:12px;">आपका ईमेल:</label>
			<input class="form-control" style="width:250px;margin-top:5px;margin-right:10px;" type="text" id="txtEmail" name="email" placeholder="अपने ईमेल प्रकार ..." />
			<input class="btn btn-success"  style="margin-right:10px;margin-top:5px;" type="submit" id="btnValidate" name="yes_email" value="प्रस्तुत करना" />    
			<input class="btn btn-warning" style="margin-top:5px;" type="submit" name="no_email" value="ना" />     
			<input type="hidden" name="accepted" value="{{accepted}}">    
		</div>
	</div>
</form>

</div><!-- /.content -->
</div><!-- /.wrapper -->

{% endblock %}
