{% extends "base/basic.html" %}
{% load staticfiles %}

{% block content %}

<div class="bg_right_overlay"></div>
<div class="bg_left_overlay"></div>
<div class="bg_pattern_overlay"></div>

<div class="wrapper">

<div class="back_to_message"><a href="/">Vaaza geri dön</a></div>


{% if accepted == 'yes' %}
<!---
<img class="promo" src="{% static 'img/promo_tr.png' %}"/>
<img class="promo560" src="{% static 'img/560/promo_tr.png' %}"/>
<img class="promo320" src="{% static 'img/320/promo_tr.png' %}"/> 
-->

<div class="content">    

<h3>İsa Mesih, Tanrı'dan bize gelen değerli ve mükemmel bir armağandır. </h3>

<div>
İsa Mesih, yardıma ihtiyacı olan bize bedelsiz verilen Tanrı'nın armağanıdır. Tanrı'nın İsa Mesih'nin aracılığıyla verilen kurtuluşu kişisel ve geneldir (Yu3:16). İsa'yı kabul eden herkes O'nun değerini anlayacaktır. 
</div>

<h3>Tanrı'nın armağanı önleyicidir (Sonsuz ölümü yok eder).</h3>

<div>
İsa Mesih bizim Rabbimiz olduğunda bizim günahlarımızı bağışlayacak. Hiç kimse yargılayamaz (Rom8:1). Bu kutsal armağan, imanlıyı Tanrı'dan sonsuz ayrılış anlamına gelen sonsuz ölümle yüzleşmesini engeller. 
</div>


<h3>Tanrı'nın armağanı sonsuzdur.</h3>

<div>
Tanrı'nın bize verdikleri sonsuzdur. Kurtuluşa kavuşunca Kutsal Ruh sonsuza dek bizimle birlikte olacak (Yu14:16). Tanrı'nın çocuğu olunca cennette çürümez, lekesiz, solmaz mirasa kavuşacağız (1Pe1:3-5). 
</div>

<h3>Tanrı'nın armağanı sevgi doludur.</h3>

<div>
Tanrı bedelsiz sevgi ile bizim için O'nun biricik oğlunu verdi. Hiç kimse bu sevgiye layık değildi. Günah işlemeyen kimse yoktur (Rom3:10), herkes kendi arzularıyla Tanrı'dan ayrıldı. Fakat Tanrı bizi sevdiği için biricik oğlunu bize verip sevgisini kanıtladı. Tanrı'nın sevgisinin sayesinde günahlarımızdan kurtulup başlangıçtan yarattılmış hale dönebiliriz. 
</div>

<h3>Tanrı'nın armağanı huzur verir.</h3>

<div>
İyi durumda verilen huzur gerçek huzur değildir. Bu huzur dünyada bize verilen çok kolay kırılabilecek huzurdur. Tanrı ne durumda olursa olsun, her zaman gerçek huzur verir. Fakat günahlarımız huzur hayatımızı bozar. Tanrı'nın isteğine göre yaşamazsak Tanrı'nın bize vaat ettiklerini yaşayamayız. Bizi kurtaran İsa'nın adıyla iman ederken günahlarımızın savaşından kurturabiliriz. 
</div>

<div>
Rabbe itaat edince hayatımız Tanrı'nın huzuruyla dolacak. Bizim içimize Kutsal Ruh dolunca güvenli ve huzurlu hayatımızı sürdürebiliriz. Bunun gibi sonsuz huzurla yaşanabilecek tek yol İsa ile ilişkiyi kurmaktır. 
</div>

<div>
Romalılar 5:1 ayete Pavlus, aklanmamız için İsa'nın bizim için feda ettiğine inanmamız gerektiğini söylüyor. Aklanmakla Tanrı ile ilişki kurabiliriz ve Tanrı'dan gelecek her şeyi kabul edebiliriz. 
</div>

<div>
İsa'nın sizin için öldüğüne inandığınızı Tanrı'ya hiç itiraf ettiniz mi? 
</div>





<div>
<b ><font style="color:#3399FF;">
    İsa hakkında daha çok şey bilmek ister misiniz?<br/><br/>
    İsa'nın aracılığıyla Tanrı'nın kurtuluşa kavuşturduğuna inanmışsanız, Bugün sizin ruhsal doğum gününüz olur. Tanrı hakkında daha çok şey bilmek isterseniz biz yardım edebiliriz. 
    <br/>
</font></b>
</div>

{% else %}
<!--
<img class="promo" src="{% static 'img/promo_2_tr.png' %}"/>
<img class="promo560" src="{% static 'img/560/promo_2_tr.jpg' %}"/>
<img class="promo320" src="{% static 'img/320/promo_2_tr.jpg' %}"/> 
-->

<div class="content">
<h3>Armağanı almak için bedelini ödemek gerekmiyor. Tanrı bize bedelsiz bu armağanı verdi, herkes alabilir. </h3>

<div>
İsa Mesih, Tanrı'dan bize gelen değerli ve mükemmel bir armağandır. İsa Mesih, yardıma ihtiyacı olan bize bedelsiz verilen Tanrı'nın armağanıdır. Tanrı'nın İsa Mesih aracılığıyla verilen kurtuluşu kişisel ve geneldir (Yu3:16). İsa'yı kabul eden herkes O'nun değerini anlayacaktır. 
</div>

<div>
<b ><font style="color:#3399FF;">
Fakat kabul etmeden bu armağan sizin olamaz.
Eğer sorunuz yada yardıma ihtiyacınız varsa biz yardım edeceğiz. 
</font></b>   
</div>


{% endif %}

{% if mssg %}
<div>
<b ><font style="color:#FF6633;">Lütfen e-posta adresinizi giriniz</font></b>   
</div>


{% endif %}
<form class="form-inline" action="{% url 'webpages:acceptform' %}?accepted={{accepted}}" method="post">
{% csrf_token %}
<div class="row">
    <div class="col-md-12"> 
        <label class="control-label" style="margin-right:5px;margin-top:5px;">E-posta:</label>
        <input class="form-control" style="width:250px;margin-top:5px;margin-right:10px;" type="text" id="txtEmail" name="email" placeholder="E-posta adresinizi yazin..." />
        <input class="btn btn-success"  style="margin-right:10px;margin-top:5px;" type="submit" id="btnValidate" name="yes_email" value="Evet" />    
        <input class="btn btn-warning" style="margin-top:5px;" type="submit" name="no_email" value="Hayır" />     
        <input type="hidden" name="accepted" value="{{accepted}}">    
    </div>
</div>
</form>

</div><!-- /.content -->
</div><!-- /.wrapper -->

{% endblock %}
