{% extends "base/basic.html" %}
{% load staticfiles %}
{% block content %}


<div class="bg_right_overlay"></div>
<div class="bg_left_overlay"></div>
<div class="bg_pattern_overlay"></div>

<div class="wrapper">

	
    {% if has_email %}
	<img class="promo" src="{% static 'img/promo_3_ko.png' %}"/>
	
	<div class="content">
	
		<div style="padding-top:30px">
			<b>Hadiye Korean</b>
		</div>
		
		<h3>Thank you! You will receive an email that tells you of Jesus more.</h3>
	
	</div>
	
	
    {% else %}
	<img class="promo" src="{% static 'img/promo_4_ko.png' %}"/>
	
	<div class="content">
	
		<div style="padding-top:30px">
			<b>Hadiye Korean</b>
		</div>
		
		<h3>Okay! We hope to see you next time.</h3>
	</div>
        
    {% endif %}
	
</div>
{% endblock %}