{% extends "base/basic_arabic.html" %}
{% load staticfiles %}

{% block content %}

<div class="bg_right_overlay"></div>
<div class="bg_left_overlay"></div>
<div class="bg_pattern_overlay"></div>

<div class="wrapper">

{% if accepted == 'yes' %}
<img class="promo" src="{% static 'img/promo_ar.png' %}"/>

<div class="content">

<b>يسوع المسيح هو هدية الله الثمينة والكاملة لنا.</b>

<div style="width:560px;margin-top:30px;margin-bottom:30px;">
هو هدية مرسلة من السماء، اعطاها الله بارادته بتكلفة عظيمة لاننا كنا فى اشد الحاجة لها. عطية الآب للخلاص من خلال ابنه هى لك شخصيا وللبشر جميعا. (يوحنا 3: 16) من يستقبله يكتشف قيمته الغير محدودة.
</div>


<b>هدية الله وقائية.</b>

<div style="width:560px;margin-top:30px;margin-bottom:30px;">
عندما يصبح يسوع مخلصنا الشخصى، نحن نضمن الغفران. هو يحررنا من دينونة خطايانا. (رومية 8 :1) هذه الهدية الالهية تقى المؤمن من مواجهة الموت الابدى، الذى يعنى انفصال تام عن الله.
</div>


<b>هدية الله وقائيةهدية الله ابدية.</b>

<div style="width:560px;margin-top:30px;margin-bottom:30px;">
الذى يأتى به المسيح يبقى للابد. روح المسيح يسكن فينا ولا يفارقنا ابداً،  من يوم خلاصنا (يوحنا 14 : 16 ). نحن نملك ميراث فى السماء لا يفسد ولا ينتهى، كأعضاء دائمين فى عائلة الله. (1 بطرس 1 : 3 – 5).
</div>


<b>هدية الله مليئة بالمحبة</b>
<div style="width:560px;margin-top:30px;margin-bottom:30px;">
الحب الغير مشروط دفع الآب ليضحى بابنه عوضا عنا. لا يوجد شخص بيننا يستحقها. جميعنا اخطائنا، فى وقت ما. (رومية 3 : 10 ) كل واحد فينا ابتعد عن الله لكى يتبع شهواتنا الخاصة. بغض النظر عن من نكون، وجهة الله عاطفته لنا واثبتها من خلال حياة وموت ابنه يسوع. بمحبته، تحررنا من قيود الخطية وتحولنا لنكون بشر كما صممنا هو لنكون.
</div>


<b>
هدية الله تحمل السلام.
</b>
<div style="width:560px;margin-top:30px;margin-bottom:30px;">
السلام الذى يأتى بسبب الظروف الجيدة ليس سلام على الاطلاق. انه نوع من التناغم الهش بين الانسان والعالم، وينهار بسهولة كبيرة. يسوع المسيح يقدم السلام الحقيقى – اطمئنان يدوم ولا ينكسر، مهما حدث. لكن، حياة الخطيئة تجعل السلام مستحيل. لا يستطيع الفرد ان يختبر وعد الله بالرعاية عندما يتصرف بتحد تجاه مشيئة الله. لذلك عندما يعبر المؤمن عن ايمانه بيسوع، تنتهى الحرب للسيطرة على الذات.    
</div>

<div style="width:560px;margin-top:30px;margin-bottom:20px;">
  الخضوع للرب يسمح لسلامه ان يملأ حياتك. عندما يحيا الروح القدس داخلنا، نستطيع التعامل مع كل شئ فى الحياة بثقة وهدوء. الطريق الوحيد للحصول على هذا السلام الدائم هو من خلال العلاقة مع يسوع المسيح.  
</div>

<div style="width:560px;margin-top:30px;margin-bottom:20px;">
فى رومية 5 : 1، يوضح بولس انه لكى تتبرر، اعلان انتهاء الندم – لابد ان نقبل ذبيحة المسيح عوضا عنا. التبرير  يجعلنا مستقيمين امام الله ويفتح قلوبنا لكل الذى يقدمه لنا.    
</div>

<div style="width:560px;margin-top:30px;margin-bottom:20px;">
هل اخبرت الله انك تعترف بذبيحة ابنه المحبة التى صنعها نيابة عنك؟
</div>

<div style="width:560px;margin-top:30px;margin-bottom:20px;">
<b>
هل ترغب فى تعلم المزيد عن يسوع المسيح؟
اذا لم تكن قد قبلت هدية الله للخلاص من خلال يسوع المسيح، يمكن ان يكون اليوم هو يوم ميلادك الروحى. سوف نساعدك لتتعلم المزيد عن ماذا يعنى ان تعرف المزيد عن الله
</b>


{% else %}
<img class="promo" src="{% static 'img/promo_2_ar.png' %}"/>

<div class="content">
<h3>We can help you to make a right decision.</h3>

<div style="width:560px;margin-top:30px;margin-bottom:30px;">
But he didn’t stop there. Three days later God raised Jesus from the dead as a promise to those who believe in him, that they too will rise again to eternal life. After this, Jesus promised his disciples that he would return again as Judge and King! The Messiah is God’s gift to mankind that they would not die in their sins and be separated from God, but by receiving Jesus’ sacrifice they could be restored back into a perfect relationship with Him—what Adam had lost. But like any gift, it’s not yours until you take it.
</div>

<div style="width:560px;margin-top:30px;margin-bottom:30px;">
<b ><font style="color:#3399FF;">If you want to know more about Jesus before you making a decision, please give us your email. We will send you more information.</font></b>   
</div>


{% endif %}

{% if mssg %}
<div style="width:560px;margin-top:30px;margin-bottom:0px;">
<b ><font style="color:#FF6633;">{{mssg}}</font></b>   
</div>

{% endif %}
<form class="form-inline" style="width:560px; margin:0 auto; padding-bottom:10px; margin-top:30px;" action="{% url 'webpages:acceptform' %}?accepted={{accepted}}" method="post">
{% csrf_token %}
<div class="row">
    <div class="col-md-12"> 
        <label class="control-label" style="margin-right:5px;margin-top:5px;">البريد الإلكتروني:</label>
        <input class="form-control" style="width:250px;margin-top:5px;margin-right:10px;" type="text" id="txtEmail" name="email" placeholder="" />
        <input class="btn btn-success"  style="margin-right:10px;margin-top:5px;" type="submit" id="btnValidate" name="yes_email" value="إِرسال" />    
        <input class="btn btn-warning" style="margin-top:5px;" type="submit" name="no_email" value="لا" />     
        <input type="hidden" name="accepted" value="{{accepted}}">    
    </div>
</div>
</form>

</div><!-- /.content -->
</div><!-- /.wrapper -->

{% endblock %}
