{% extends "base/basic_arabic.html" %}
{% load staticfiles %}
{% block content %}


<div class="bg_right_overlay"></div>
<div class="bg_left_overlay"></div>
<div class="bg_pattern_overlay"></div>

<div class="wrapper">

	
    {% if has_email and accepted == 'yes' %}
	<img class="promo" src="{% static 'img/promo_3_ar.png' %}"/>
	
    <div style="margin-top:30px;margin-left:650px;"><a href="/message">Back to Message</a></div>
    
	<div class="content">	
		<h3>تهانينا على قرارك بقبول المسيح.</h3>
        <h3>سوف نتواصل معك قريبا جدا.</h3>
	</div>
	
    {% elif has_email and accepted == 'no' %}
	<img class="promo" src="{% static 'img/promo_4_ar.png' %}"/>
	
    <div style="margin-top:30px;margin-left:650px;"><a href="/message">Back to Message</a></div>
    
	<div class="content">
        <h3>شكرا لاهتمامك.</h3>
        <h3>سوف نتواصل معك قريبا جداً</h3>
	</div>
        
    {% elif has_email == False and accepted == 'yes' %}
	<img class="promo" src="{% static 'img/promo_4_ar.png' %}"/>
	
    <div style="margin-top:30px;margin-left:650px;"><a href="/message">Back to Message</a></div>
    
	<div class="content">
        <h3> تهاني على قرارك لقبول يسوع المسيح. نأمل أن نلتقي بك مرة أخرى.    
        </h3>
        <h3>يحبك يسوع، وسيكون معك دائما.</h3>
	</div> 
    
    {% else %}

	<img class="promo" src="{% static 'img/promo_4_ar.png' %}"/>
	
    <div style="margin-top:30px;margin-left:650px;"><a href="/message">Back to Message</a></div>
    
	<div class="content">
        <h3>شكرا لزيارتك! نتمنى ان نراك مرة اخرى.</h3>
        <h3>يسوع يحبك، وهو فى انتظارك لتقبل الهدية.</h3>
	</div> 
                   
    {% endif %}
	
</div>
{% endblock %}