{% extends "base/basic.html" %}
{% load staticfiles %}

{% block content %}

<div class="bg_right_overlay"></div>
<div class="bg_left_overlay"></div>
<div class="bg_pattern_overlay"></div>

<div class="wrapper">

{% if accepted == 'yes' %}
<img class="promo" src="{% static 'img/promo_en.png' %}"/>

<div class="content">

	<h3>You should grow in knowing Jesus.</h3>

	<div style="width:560px;margin-top:30px;margin-bottom:30px;">
	But he didn’t stop there. Three days later God raised Jesus from the dead as a promise to those who believe in him, that they too will rise again to eternal life. After this, Jesus promised his disciples that he would return again as Judge and King! The Messiah is God’s gift to mankind that they would not die in their sins and be separated from God, but by receiving Jesus’ sacrifice they could be restored back into a perfect relationship with Him—what Adam had lost. But like any gift, it’s not yours until you take it.
	</div>

	<div style="width:560px;margin-top:30px;margin-bottom:30px;">
		<b ><font style="color:#3399FF;">If you want to know Jesus more, please give us your email. We will send you more information.</font></b>   
	</div>

{% else %}

<img class="promo" src="{% static 'img/promo_2_en.png' %}"/>

<div class="content">


	<h3>We can help you to make a right decision.</h3>



	<div style="width:560px;margin-top:30px;margin-bottom:30px;">
	But he didn’t stop there. Three days later God raised Jesus from the dead as a promise to those who believe in him, that they too will rise again to eternal life. After this, Jesus promised his disciples that he would return again as Judge and King! The Messiah is God’s gift to mankind that they would not die in their sins and be separated from God, but by receiving Jesus’ sacrifice they could be restored back into a perfect relationship with Him—what Adam had lost. But like any gift, it’s not yours until you take it.
	</div>

	<div style="width:560px;margin-top:30px;margin-bottom:30px;">
	<b ><font style="color:#3399FF;">If you want to know more about Jesus before you making a decision, please give us your email. We will send you more information.</font></b>   
	</div>


{% endif %}

{% if mssg %}
	<div style="width:560px;margin-top:30px;margin-bottom:10px;">
	<b ><font style="color:#FF6633;">{{mssg}}</font></b>   
	</div>


{% endif %}
	<form class="form-inline" style="width:560px; margin:0 auto; padding-bottom:10px;" action="{% url 'webpages:acceptform' %}?accepted={{accepted}}" method="post">
	{% csrf_token %}
	<div class="row">
		<div class="col-md-12"> 
			<label class="control-label" style="margin-right:5px;margin-top:5px;">Your email:</label>
			<input class="form-control" style="width:250px;margin-top:5px;margin-right:10px;" type="text" id="txtEmail" name="email" placeholder="type your email..." />
			<input class="btn btn-success"  style="margin-right:10px;margin-top:5px;" type="submit" id="btnValidate" name="yes_email" value="Submit" />    
			<input class="btn btn-warning" style="margin-top:5px;" type="submit" name="no_email" value="No, Thanks" />     
			<input type="hidden" name="accepted" value="{{accepted}}">    
		</div>
	</div>
	</form>

</div><!-- /.content -->
</div><!-- /.wrapper -->

{% endblock %}
