{% extends "base/basic.html" %}
{% load staticfiles %}
{% block content %}

<div class="wrapper">

<h1 id="site-title">God is Love</h1>

<div class="video">
<iframe src="https://player.vimeo.com/video/95237307?autoplay=1" width="720" height="480" frameborder="0" allowfullscreen></iframe>
</div>
<img id="video-shadow" src="{% static 'img/shadow.png' %}"/>


<div class="content">

<center>
    <span style="font-weight:bold; color:#916816">|</span>&nbsp;<a onclick="showDesc()" style="color:#000; cursor:pointer;">If the video does not play, please click here.</a>&nbsp;<span style="font-weight:bold; color:#916816">|</span>
</center>

<script>
	function showDesc() {
		$('#description').slideDown()
	}
</script>

<div id="description">
<p>
Ever since Adam and Eve disobeyed God, animal sacrifice had been used to cover mankind’s sins. When Abraham was about to sacrifice his son, God provided an animal to take his place. When Pharaoh would not allow Moses to leave, God killed every firstborn son unless a lamb’s blood was on the doorpost. God told people to sacrifice an animal for their sins, and David and the prophets wondered “can the blood of animals really cover the sins of a man? Or are they signs and symbols pointing to the future?” David prophesied of a Coming One, a Messiah, a descendant of King David who would rule and reign in power, yet be a humble man. 
</p>

<p>
Born of a virgin, Jesus preached love and humility. He offended religious hypocrites who cared about rituals more than loving God, but he was loved by the poor, the repentant, and the sinner. He healed the sick, and even raised dead men back to life. Jesus called God his “Father,” and showed mankind that “the All Powerful” loves you like a father. He was the innocent one in exchange for the guilty, to free mankind from their slavery to sin. God sacrificed Jesus to fulfill what was written by the prophets that he would become the Lamb of God who takes away the sins of the world.
</p>

<p>
But he didn’t stop there. Three days later God raised Jesus from the dead as a promise to those who believe in him, that they too will rise again to eternal life. After this, Jesus promised his disciples that he would return again as Judge and King! The Messiah is God’s gift to mankind that they would not die in their sins and be separated from God, but by receiving Jesus’ sacrifice they could be restored back into a perfect relationship with Him—what Adam had lost.
</p>


<p style="text-align:center">
<b>This gift is not deserved, but God loves us and granted us this gift. <br/>But like any gift, it’s not yours until you take it.</b>    
</p>

</div> <!-- description -->



<div style="text-align:center">
<b>Would you like to receive God’s gift?</b>    
</div>


<div style="text-align:center">
    <span style="margin-right:20px;">
        <a class="btn btn-primary" href="{% url 'webpages:acceptform' %}?accepted=yes">YES</a>
    </span>
    <span>
        <a class="btn btn-warning" href="{% url 'webpages:acceptform' %}?accepted=no">Not This Time</a>
    </span>
</div>

</div><!--/.content-->
</div><!--/.wrapper-->

{% endblock %}

