{% extends "base/basic.html" %}
{% load staticfiles %}
{% block content %}

<div class="wrapper">


    <div class="back_to_message"><a href="/">Back to Message</a></div>

	
    {% if has_email and accepted == 'yes' %}
	
	<div class="content">	
		<p id="site-title">God is Love</p>
		<h4>Congratulations on your decision to accept Christ.</h4>
         <h4>We will be in touch with you shortly.</h4>
	</div>
	
    {% elif has_email and accepted == 'no' %}
	
	<div class="content">
		<p id="site-title">God is Love</p>
         <h4>Thank you for your interest.</h4>
         <h4>We will be in touch with you shortly.</h4>
	</div>
        
    {% elif has_email == False and accepted == 'yes' %}
	
	<div class="content">
		<p id="site-title">God is Love</p>
         <h4>Congratulations on your decision to accept Christ. We hope to see you again.</h4>
         <h4>Jesus loves you, and he will be with you always.</h4>
	</div> 
    
    {% else %}

	<div class="content">
		<p id="site-title">God is Love</p>
         <h4>Thank you for your visit! We hope to see you again.</h4>
         <h4>Jesus loves you, and he is waiting for you to receive the gift.</h4>
	</div> 
                   
    {% endif %}
	

</div>
<div style="background-color:#fff">
	<img src="{% static 'img/pattern.png' %}" style="width:100%" />
</div>
{% endblock %}