{% extends "base/basic.html" %}
{% load staticfiles %}

{% block content %}

<div class="bg_right_overlay"></div>
<div class="bg_left_overlay"></div>
<div class="bg_pattern_overlay"></div>

<div class="wrapper">

{% if accepted == 'yes' %}
<img class="promo" src="{% static 'img/promo_en.png' %}"/>

<div class="back_to_message"><a href="/message">Назад к Сообщению</a></div>

<div class="content">

	<h3>Иисус Христос является драгоценным и совершенным Божьим подарком для нас.</h3>

	<div>
    Он - подарок посланный с небес, добровольно отданный за великую цену из-за нашей отчаянной нужды. Отцовское предложение спасения через Его Сына является как личным, так и универсальным (Иоанна 3:16). Каждый, принявший Его обнаружит Его безграничную ценность.
	</div>

	<h3>Божий подарок уберегает.</h3>

	<div>
    Когда Иисус становится нашим личным Спасителем, мы получаем спасение. Он освобождает нас от вины греха ( Римлянам 8:1 ). Этот Божественный подарок предотвращает верующего от встречи с вечной смертью, которая означала бы вечное отделение от Бога.
	</div>


	<h3>Божий подарок вечен.</h3>

	<div>
    То, что приносит Иисус – длится вечно. Со дня нашего спасения, Дух Христа прибывает в нас и никогда не оставляет нас ( Иоанна 14:16). Как постоянные члены Божией семьи, мы имеем наследство на Небесах, которое не тлеет, не исчезает. ( 1 Петра 1:3-5).
    
    </div>


	<h3>Божий подарок полон любви.</h3>

	<div>
    Мир, который есть в корне хороших ситуаций – вовсе не является миром на самом деле. Это хрупкий вид гармонии между человеком и миром (землёй), и он очень легко крошится. Иисус Христос предлагает настоящий мир – постоянное удовлетворение, которое нерушимо, вне зависимости от происходящего. Однако, греховная жизнь предотвращает от мира. Человек не может испытывать обетование Божией заботы, когда он или она действует не повинуясь Его воле. Так что, когда верующий выражает веру в Иисуса, война за самоуправление заканчивается.
	</div>

	<h3>Божий подарок приносит мир.</h3>

	<div>
    Мир, который есть в корне хороших ситуаций – вовсе не является миром на самом деле. Это хрупкий вид гармонии между человеком и миром (землёй), и он очень легко крошится. Иисус Христос предлагает настоящий мир – постоянное удовлетворение, которое нерушимо, вне зависимости от происходящего. Однако, греховная жизнь предотвращает от мира. Человек не может испытывать обетование Божией заботы, когда он или она действует не повинуясь Его воле. Так что, когда верующий выражает веру в Иисуса, война за самоуправление заканчивается.
    
	</div>

    <div>
    Покорность Господу позволяет Его миру наполнить твою жизнь. Когда Святой Дух живёт внутри нас, мы можем приступать ко всему в жизни с уверенностью и безмятежностью. Единственный путь принять этот пребывающий мир – через отношение с Иисусом Христом.
    
    </div>

    <div>
    В Римлянах 5:1, Павел объясняет, что, для того чтобы быть оправданным – то есть быть объявленным больше невиновным – мы должны принять жертву Христа, совершённую вместо нас. Оправдание делает нас правыми пред Богом, и открывает наши сердца для всего того, что Он нам предлагает.
    </div>
    
    <div>
    Сказал ли ты Богу, что признаёшь любящую жертву Его Сына, совершённую ради тебя?
    </div>

    <div>
    <b>Если ты ещё не принял спасение, предложенное Богом через Иисуса Христа, сегодняшний день может стать твоим духовным днём рождения. </b>
    </div>
    
    <div>
    <b>Мы поможем тебе узнать больше о том как можно лучше узнать о Боге.</b>
    </div>    

{% else %}

<img class="promo" src="{% static 'img/promo_2_en.png' %}"/>

<div class="content">


	<h3>Мы можем помочь вам принять правильное решение.</h3>

	<div>
	Принятие подарка ничего не стоит. Бог даёт нам этот подарок без платы, все могут его получить.
    </div>
    
	<div>
   Иисус Христос является драгоценным и совершенным Божьим подарком для нас. Он подарок посланный с небес, добровольно отданный за великую цену из-за нашей отчаянной нужды. Отцовское предложение спасения через Его Сына является как личным, так и универсальным (Иоанна 3:16). Каждый, принявший Его обнаружит Его безграничную ценность.
   
    </div>

    <div>
    <b>Но как любой подарок, он не твой пока ты его не примешь.</b>
    </div>

	<div>
	<b ><font style="color:#3399FF;">Если вы хотите узнать об Иисусе больше, прежде принятия решения, просим оставить нам вашу эл.почту. Мы пришлём вам дополнительную информацию.</font></b>   
	</div>


{% endif %}

{% if mssg %}
	<div>
	<b ><font style="color:#FF6633;">Пожалуйста введите вашу эл.почту</font></b>   
	</div>


{% endif %}


	<form class="form-inline" action="{% url 'webpages:acceptform' %}?accepted={{accepted}}" method="post">
	{% csrf_token %}
    
	<div class="row">
		<div class="col-md-12"> 
			<label class="control-label" style="margin-right:5px;margin-top:5px;">Ваша Эл.Почта:</label>
			<input class="form-control" style="width:250px;margin-top:5px;margin-right:10px;" type="text" id="txtEmail" name="email" placeholder="Пожалуйста введите вашу эл.почту" />
			<input class="btn btn-success"  style="margin-right:10px;margin-top:5px;" type="submit" id="btnValidate" name="yes_email" value="Ответить" />    
			<input class="btn btn-warning" style="margin-top:5px;" type="submit" name="no_email" value="нет" />     
			<input type="hidden" name="accepted" value="{{accepted}}">    
		</div>
	</div>
</form>

</div><!-- /.content -->
</div><!-- /.wrapper -->

{% endblock %}
