{% extends "base/basic.html" %}

{% block content %}
<!--
<div class="bg_right_overlay"></div>
<div class="bg_left_overlay"></div>
<div class="bg_pattern_overlay"></div>
-->
<div class="wrapper">

<div class="video">
<iframe src="https://player.vimeo.com/video/107014956?autoplay=1" width="720" height="480" frameborder="0" allowfullscreen></iframe>
</div>





<div class="content">

<div>
С того дня, как Адам и Ева ослушались Бога, животная жертва использовалась для покрытия грехов человечества. Когда Авраам собирался принести в жертву своего сына, Бог послал животное, чтоб заменить его. Когда Фараон запретил Моисею уходить, Бог убил каждого первородного сына, кроме тех, у кого на косяках дверей была кровь агнца. Бог сказал людям приносить в жертву животных за свои грехи, и Давид и пророки задумывались , “может ли кровь животных на самом деле покрыть грехи человека? Или это знаки И символы указывающие на будущее?” Давид пророчествовал о Грядущем, о Мессии, потомке Царя Давида, который будет править в силе, но будет кротким человеком.

</div>

<div>
Родившийся от девы, Иисус проповедовал любовь и смирение. Он обвинял религиозных лицемеров, которые больше заботились о ритуалах, чем о любящем Боге, но Его любили бедные, кающиеся и грешники. Он исцелял больных, даже воскрешал мёртвых. Иисус называл Бога своим “Отцом”, показывая человечеству, что Всемогущий любит тебя как отец. Он был невинным взамен виновных, чтобы освободить человечество от рабства греха. Бог пожертвовал Иисусом, чтобы исполнить написанное пророками, что Он станет Агнцем Божьим, взявшим на себя грех мира.
Но он не остановился на этом. Через три дня Бог воскресил Иисуса из мёртвых, как обещано верующим в Него, что они тоже воскреснут к вечной жизни. После этого, Иисус пообещал своим ученикам, что Он вновь вернётся как Судья и Цари ! Мессия – это Божий подарок человечеству, чтоб они не умерли в своих грехах и не были отделены от Бога, но принимая жертву Иисуса , они были бы восстановлены к идеальным отношениям с Ним – то, что потерял Адам.

</div>

<div>
Этот подарок незаслуженный, но Бог любит нас и даёт нам этот подарок.
</div>

<div style="text-align:center">
<b>Но как и любой подарок, он тебе не принадлежит, до тех пор, пока ты его не примешь.</b>    
</div>

<div style="text-align:center">
<b>Хотел бы ты принять Божий подарок?</b>    
</div>


<div style="text-align:center">
    <span style="margin-right:20px;">
        <a class="btn btn-primary" href="{% url 'webpages:acceptform' %}?accepted=yes">Да</a>
    </span>
    <span>
        <a class="btn btn-warning" href="{% url 'webpages:acceptform' %}?accepted=no">Нет</a>
    </span>
</div>

</div><!--/.content-->
</div><!--/.wrapper-->
{% endblock %}

