body
{
    margin: 0;
}
  
a, a:hover, a:link, a:visited
{
    text-decoration: none !important;
}
  
.wrapper
{
    width: 1280px;
    height: 1104px;
    text-align:center;
    margin:0 auto;
}
  
.color_overlay
{
    position:absolute;
    top: 0px;
    height: 1104px;
    width: 100%;
    
    background-color: #7e9da2;
    opacity:0.7;
}
  
.frame_overlay
{
    position:absolute;
    top: 0px;
    height: 1104px;
    left: 50%;
    margin-left: -640px;
    width: 1280px;
    z-index: 80;
}
  
.content_overlay
{
    position:absolute;
    z-index: 999;
    top: 0px;
    bottom: 0px;
    left: 50%;
    margin-left: -640px;
    width: 1280px;
    
    text-align:center;
}
  
video 
{
    width: 100%    !important;
    height: auto   !important;
}

.top_bar
{
	position:absolute;
	top: 50px;
	left: 50%;
	margin-left: 250px;
	
	z-index: 9999;
	
	
}

.top_bar span, .top_bar a
{
	color: #d5dce8;
}

.top_bar a:hover
{
	color: #fff;
}

.top_bar span:hover
{
	cursor: pointer;
}

.top_bar span:after
{
	margin-left:5px;
	content: "|";
}

.top_bar span:last-child:after
{
	content: " ";
}

  
@media screen and (max-width:1280px)
{
  .wrapper
    {
    width: 100%;
  }
  .frame_overlay
    {
    left:0;
    margin-left:0;
    width:100%;
  }
  
  .content_overlay
    {
    left: 0;
    margin-left: 0;
    width:100%;
  }
}  
  