/* global settings */
body 
{    
        font-size: 15px;
        font-family: 'avenir next','avenir','lucida grande',tahoma,verdana,arial,sans-serif;
        width: 100%;
        margin: 0 auto;
        background-color: #f1ebe0;
}

.top_bar
{
  padding-top:4px;
  padding-bottom:5px;
  padding-right:10px;
  padding-left:10px;
  text-align:right;
  
  background: #f7e3c2;
}

.top_bar > div 
{
	max-width: 720px;
	margin: 0 auto;
}

.top_bar a
{
	color: #916816;
}

.top_bar a:hover
{
	color: #428bca;
	text-decoration: none;
}

.top_bar span:after
{
	content: "|";
}

.top_bar span:last-child:after
{
	content: " ";
}

h3
{
  margin-top: 0px;
  padding-top: 20px;
}

.wrapper
{
	max-width: 720px;
	margin: 0 auto;
}

.content
{
	width:580px;
	margin:0 auto;
	
	padding-bottom: 50px;

}

.content > div
{
	width: 560px;
	margin-top:50px;
	margin-bottom: 50px;
}

.content > div:first-child
{
	margin-top:60px;
}

.content > div:last-child
{
	margin-bottom:25px;
}

.form-inline
{
	width:560px;
	margin:0 auto; 
	padding-bottom:10px;
}

.back_to_message
{
	width:100%; 
	text-align:right; 
	padding-right:25px;
	padding-top: 20px;
}

.back_to_message_ar
{
	width:100%; 
	text-align:left; 
	padding-left:25px;
	padding-top:20px;
}

.promo560
{
	display: none;
}

.promo320
{
	display: none;
}

.promo
{
	width: 100%;
}


@media screen and (max-width: 1024px)
{
	.bg_right_overlay, .bg_left_overlay, .bg_pattern_overlay
	{
		display:none !important;
	}	
}


@media screen and (max-width: 959px)
{
	body, .wrapper
	{
		width: 100%;
	}

	.video
	{
		overflow:hidden;
		padding-bottom:56.25%;
		position:relative;
		height:0;
	}
	
	.video > iframe
	{
		left:0;
		top:0;
		height:100%;
		width:100%;
		position:absolute;
	}
}

@media screen and (max-width: 559px)
{
	.content
	{
		width: 100%;
		padding: 15px;
	}

	.content > div
	{
		width: 100%;
	}

	.content > div:first-child
	{
		margin-top:-60px;
	}

	.form-inline
	{
		width:100%;
	}

	.promo
	{
		display: none;
	}

	.promo560
	{
		display: block;
		width: 100%;
	}

}

@media screen and (max-width: 320px)
{
	.promo560
	{
		display:none;
	}

	.promo320
	{
		display:block;
		width: 100%;
	}
}

#site-title {
	padding-top: 0.8em;
	margin-top: 0 !important;
	font-size: 4em;
	font-family: serif;
	color: #916816;


}

#description {
	display:none;
}

#video-shadow {
	max-width: 100%;
	margin-top: -2.5em;
}

.btn-primary {
	background-color: #9e005d;
	border-color: #9e005d;
	min-width: 120px;
}

.btn-success {
	background-color: #9e005d;
	border-color: #9e005d;
}

.btn-warning {
	background-color: #918a72;
	border-color: #918a72;
}

#footer {
	
	color: #6b6e71;
	bottom: 0;
	display: block;
	min-height: 30px;
}

#footer > div {
	max-width: 720px;
	margin: 0 auto;
	font-size: 0.8em;
}

#bg {
	background-color: #fff;
}