/* global settings */
body 
{    
        font-size: 15px;
        font-family: 'avenir next','avenir','lucida grande',tahoma,verdana,arial,sans-serif;
        width: 100%;
        margin: 0 auto;
}

.top_bar
{
  padding-top:22px;
  padding-bottom:7px;
  padding-right:10px;
  padding-left:10px;
  text-align:right;
  
  background: #f7e3c2;

  
  height: 50px;
}

.top_bar > div 
{
	max-width: 720px;
	margin: 0 auto;
}

.top_bar a
{
	color: #916816;
}

.top_bar a:hover
{
	color: #428bca;
	text-decoration: none;
}

.top_bar span:after
{
	content: "|";
}

.top_bar span:last-child:after
{
	content: " ";
}

h3
{
  margin-top: 0px;
  padding-top: 20px;
}

/* background settings */

.bg_pattern_overlay
{
	position:absolute;
	top:0px;
	left:50%;
	margin-left:-640px;
	
	width:1280px;
	height:1300px;
	

	background-image: url("../img/bgpattern.png");
	z-index: -1;
}

.bg_right_overlay
{
	position:absolute;
	top:0px;
	left:50%;

	width:640px;
	height:1300px;
  

	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(left, #00A3EF 0%, #FFFFFF 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(left, #00A3EF 0%, #FFFFFF 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(left, #00A3EF 0%, #FFFFFF 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #00A3EF), color-stop(1, #FFFFFF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(left, #00A3EF 0%, #FFFFFF 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to right, #00A3EF 0%, #FFFFFF 100%);

	z-index:-2;
}

.bg_left_overlay
{
	position:absolute;
	top:0px;
	left:50%;
	margin-left: -640px;	

	width:640px;
	height:1300px;
	
	/* IE10 Consumer Preview */ 
	background-image: -ms-linear-gradient(left, #FFFFFF 0%, #00A3EF 100%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(left, #FFFFFF 0%, #00A3EF 100%);

	/* Opera */ 
	background-image: -o-linear-gradient(left, #FFFFFF 0%, #00A3EF 100%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFFFF), color-stop(1, #00A3EF));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #00A3EF 100%);

	/* W3C Markup, IE10 Release Preview */ 
	background-image: linear-gradient(to right, #FFFFFF 0%, #00A3EF 100%);


	z-index:-2;
}


.wrapper
{
	max-width: 720px;
	margin: 0 auto;
}

.content
{
	width:580px;
	margin:0 auto;
	
	margin-top: 60px;
	margin-bottom: 100px;
}

.content > div
{
	width: 560px;
	margin-top:30px;
	margin-bottom: 30px;
}

.content > div:first-child
{
	margin-top:60px;
}

.content > div:last-child
{
	margin-bottom:25px;
}

.form-inline
{
	width:560px;
	margin:0 auto; 
	padding-bottom:10px;
}

.back_to_message
{
	width:100%; 
	text-align:right; 
	padding-right:25px;
	margin-top:25px;
}

.back_to_message_ar
{
	width:100%; 
	text-align:left; 
	padding-left:25px;
	margin-top:25px;
}

.promo560
{
	display: none;
}

.promo320
{
	display: none;
}

.promo
{
	width: 100%;
}


@media screen and (max-width: 1024px)
{
	.bg_right_overlay, .bg_left_overlay, .bg_pattern_overlay
	{
		display:none !important;
	}	
}


@media screen and (max-width: 959px)
{
	body, .wrapper
	{
		width: 100%;
	}

	.video
	{
		overflow:hidden;
		padding-bottom:56.25%;
		position:relative;
		height:0;
	}
	
	.video > iframe
	{
		left:0;
		top:0;
		height:100%;
		width:100%;
		position:absolute;
	}
}

@media screen and (max-width: 559px)
{
	.content
	{
		width: 100%;
		padding: 15px;
	}

	.content > div
	{
		width: 100%;
	}

	.content > div:first-child
	{
		margin-top:-60px;
	}

	.form-inline
	{
		width:100%;
	}

	.promo
	{
		display: none;
	}

	.promo560
	{
		display: block;
		width: 100%;
	}

}

@media screen and (max-width: 320px)
{
	.promo560
	{
		display:none;
	}

	.promo320
	{
		display:block;
		width: 100%;
	}
}

#site-title {
	margin-top: 120px;
	font-size: 4em;
	font-family: serif;
	color: #916816;

}

#description {
	display:none;
}

#video-shadow {
	max-width: 100%;
	margin-top: -2.5em;
}

.btn-primary {
	background-color: #9e005d;
	border-color: #9e005d;
}

.btn-warning {
	background-color: #918a72;
	border-color: #918a72;
}

#footer {
	background-color: #f1ebe0;
	color: #6b6e71;
	padding-bottom:120px;
	display: block;
}

#footer > div {
	max-width: 720px;
	margin: 0 auto;
}