{% extends "base/basic.html" %}

{% block content %}

<div class="wrapper">

<div class="content">

    <div class="back_to_message"><a href="/">Back to Message</a></div>

    <h1 id="site-title">God is Love</h1>

    <div style="margin-top:50px; margin-bottom:100px;">
    Hadiye.org is a non profit organization, and our mission is to provide people with the right understanding on the love of God and 
    help people to make a life-changing decision based on the right understanding.
    </div>

</div>

</div>

{% endblock %}