{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Hadiye</title>
    
    <link rel="stylesheet" href="{% static 'bs/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/style_intro.css' %}"/>
    <!--
    <script src="{% static 'jquery/jquery-1.11.1.min.js' %}"></script>
    -->


</head>
<body>
    
	<div class="top_bar">
        {% for code, label in lang_choices %}
            {% if code != curr_lang %}
            <span style="margin-left:5px;">
                <a href="{% url 'webpages:index' %}?langcode={{code}}">{{label}}</a>
            </span>
            {% endif %}
        {% endfor %}
    </div>
	
	
    {% block content %}
    
    {% endblock %}

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- bootstraps javascript -->    
    <script src="{% static 'bs/js/bootstrap.min.js' %}"></script>

    <script>
        $(document).ready( function() {
            setTimeout(function() {location.href="message"}, 14000);
        });
    </script>
    
    <!-- GA Code -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-52451035-1', 'auto');
      ga('send', 'pageview');

    </script>
    
    
</body>
</html>