{% extends "base/basic.html" %}

{% block content %}

{% if accepted == 'yes' %}
<h3>You should grow in knowing Jesus.</h3>

<div style="width:560px;margin-top:30px;margin-bottom:30px;">
<b>Hadiye Chinese</b>, Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
deserunt mollit anim id est laborum.    
</div>

<div style="width:560px;margin-top:30px;margin-bottom:30px;">
<b ><font style="color:#3399FF;">If you want to know Jesus more, please give us your email. We will send you more information.</font></b>   
</div>

{% else %}

<h3>We can help you to make a right decision.</h3>

<div style="width:560px;margin-top:30px;margin-bottom:30px;">
<b>Hadiye Chinese</b>, Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut 
aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia 
deserunt mollit anim id est laborum.    
</div>

<div style="width:560px;margin-top:30px;margin-bottom:30px;">
<b ><font style="color:#3399FF;">If you want to know more about Jesus before you making a decision, please give us your email. We will send you more information.</font></b>   
</div>


{% endif %}

{% if mssg %}
<div style="width:560px;margin-top:30px;margin-bottom:10px;">
<b ><font style="color:#FF6633;">{{mssg}}</font></b>   
</div>


{% endif %}
<form class="form-inline" style="margin-bottom:10px;" action="{% url 'webpages:acceptform' %}?accepted={{accepted}}" method="post">
{% csrf_token %}
<div class="row">
    <div class="col-md-12"> 
        <label class="control-label" style="margin-right:5px;margin-top:5px;">Your email:</label>
        <input class="form-control" style="width:250px;margin-top:5px;margin-right:10px;" type="text" id="txtEmail" name="email" placeholder="type your email..." />
        <input class="btn btn-success"  style="margin-right:10px;margin-top:5px;" type="submit" id="btnValidate" name="yes_email" value="Submit" />    
        <input class="btn btn-warning" style="margin-top:5px;" type="submit" name="no_email" value="No, Thanks" />     
        <input type="hidden" name="accepted" value="{{accepted}}">    
    </div>
</div>
</form>



{% endblock %}
