{% extends "base/basic.html" %}
{% load staticfiles %}

{% block content %}

<div class="bg_right_overlay"></div>
<div class="bg_left_overlay"></div>
<div class="bg_pattern_overlay"></div>

<div class="wrapper">

{% if accepted == 'yes' %}
<img class="promo" src="{% static 'img/promo_zh.png' %}"/>

<div class="back_to_message"><a href="/message">返回消息</a></div>

<div class="content">

<h3>耶稣基督是神给我们最宝贵、最完美的礼物。</h3>

<div>
他是来自天国的礼物，为了满足我们最迫切的渴望，他愿意付上最大的代价。天父的救恩是通过他的独生爱子所成就的，这既是对个人也是对所有人都通用的。（约3：16）凡接受他的人都会发现他无限的价值。
</div>

<h3>神的礼物是有防止性的（不让我们面对永远的死亡）。</h3>

<div>
当耶稣成为我们个人的救主后，我们的罪得赦免。他使我们摆脱罪的束缚得以自由。（罗8：1）这份神所赐的礼物使凡相信他的人不会面对永远的死亡，也就是永远与神分离。
</div>


<h3>神的礼物是永恒的。</h3>

<div>
耶稣所带来的是永久的。从我们得救的那天起，基督的灵就住在我们里面，永远不会离开我们。（约14：16）作为神永恒家族的成员，我们可以得着那在天上不能朽坏、不能消失的基业。(彼得前书1：3-5 )
</div>


<h3>神的礼物充满慈爱。</h3>

<div>
无条件的爱使得天父为了我们牺牲了他的独生爱子。没有一个人配得这样的恩典。在某种意义上说，我们都是有罪的。（罗马书3：10）我们都离开了神而随从了自己的私欲。但是不管我们是谁，神都施慈爱和怜悯在我们身上，并且通过他的爱子耶稣的生和死充分证明了这一点。因着他的爱，我们从罪的捆绑中被拯救出来，并且使我们变成他所希望的样式。
</div>

<h3>神的礼物结出和平。</h3>

<div>
建立在好的局势下的和平不是真正的和平。在人和这世界当中，这种脆弱的和谐非常容易崩溃。耶稣基督给我们的是真正的和平——一种永久的满足，无论发生什么，这种和平是坚不可摧的。但是，有罪的生命使得和平变得不可能。一个悖逆神旨意的人不可能经历到神所应许的和平。所以，当一个信徒向耶稣表现出信心的时候，自我统治的征战就结束了。
<br/>
<br/>
降服于主使得他的和平充满你。当圣灵住在我们里面，我们就能带着自信和祥和作成生命中的每件事。得到永久的和平只有一条路，那就是和耶稣基督建立关系。
<br/>
<br/>
罗马书5：1中，保罗申辩说——不再有罪——我们必须接受耶稣为我们所做的牺牲。因信称义使我们在神面前为义，也使我们能对主所给我们的敞开心扉来接受。
<br/>
<br/>
你告诉过神你知道他的爱子牺牲的爱是为了你吗？
</div>









<div>
<b ><font style="color:#3399FF;">你想更多了解耶稣基督吗?</font></b><br/><br/>
<b>如果您已经通过耶稣基督接受了天父的救恩的，今天是你的神灵生日。</b>
<b>请给我们您的电子邮件。我们会向您发送电子邮件，并且帮助您更多的了解天父。</b>
</div>

{% else %}
<img class="promo" src="{% static 'img/promo_2_zh.png' %}"/>

<div class="back_to_message"><a href="/message">返回消息</a></div>

<div class="content">
<h3>接受这份礼物不会使你花费什么。神给我们这份礼物不需要花钱，任何人都可以接受它。</h3>

<div>
耶稣基督是神给我们最宝贵最完美的礼物。他是来自天堂的礼物，为了满足我们最迫切的渴望，他愿意付上最大的代价。天父的救恩是通过他的独生爱子所成就的，这既是对个人也是对所有人都通用的。（约3：16）凡接受他的人都会发现他的无限价值。
<br/><br/>
但是作为礼物，如果你不接受它，那么它就不属于你。
<br/><br/>
</div>

<div>
<b ><font style="color:#3399FF;">

如果您想知道更多关于耶稣您在做出决定之前，请给我们您的电子邮件。 我们会提供更多的信息。.

</font></b>
   
</div>


{% endif %}

{% if mssg %}
<div>
<b ><font style="color:#FF6633;">请输入您的电子邮件</font></b>   
</div>


{% endif %}
<form class="form-inline" action="{% url 'webpages:acceptform' %}?accepted={{accepted}}" method="post">
{% csrf_token %}
<div class="row">
    <div class="col-md-12"> 
        <label class="control-label" style="margin-right:5px;margin-top:5px;">你的电子邮件:</label>
        <input class="form-control" style="width:250px;margin-top:5px;margin-right:10px;" type="text" id="txtEmail" name="email" placeholder="输入您的电子邮件..." />
        <input class="btn btn-success"  style="margin-right:10px;margin-top:5px;" type="submit" id="btnValidate" name="yes_email" value="提交" />    
        <input class="btn btn-warning" style="margin-top:5px;" type="submit" name="no_email" value="不, 谢谢" />     
        <input type="hidden" name="accepted" value="{{accepted}}">    
    </div>
</div>
</form>

</div><!-- /.content -->
</div><!-- /.wrapper -->

{% endblock %}
