{% extends "base/basic.html" %}

{% block content %}

<div class="bg_right_overlay"></div>
<div class="bg_left_overlay"></div>
<div class="bg_pattern_overlay"></div>

<div class="wrapper">

<div class="video">
<iframe src="https://player.vimeo.com/video/95954112?autoplay=1" width="960" height="480" frameborder="0" allowfullscreen></iframe>
</div>





<div class="content">

<div style="width:560px;margin-top:60px;margin-bottom:30px;">
自从亚当和夏娃违背了神的命令之后，牲畜献祭就被用于遮盖人类所犯的罪。当亚伯拉罕要把他的儿子献为燔祭的时候，神预备了一只动物来代替他的儿子。埃及的法老不容摩西离开，神就击杀埃及境内所有的长子，除非在门楣上涂了羔羊血的人家。神命令人们要为自己所犯的罪把牲畜献给神为赎罪祭，大卫和先知们也都惊奇：“牲畜的鲜血真的能遮盖人的罪吗？亦或这是对将来所发生事情的预兆和象征呢？”大卫预言了那将来要来的那一位，是弥赛亚，是大卫王的子孙。他自己卑微，但要带着权柄统治世界。 
</div>

<div style="width:560px;margin-top:30px;margin-bottom:30px;">
由童贞女所生，耶稣传扬了神的爱和谦卑。他斥责那些关心宗教仪式，胜过爱神的假冒伪善者，而那些贫穷的，心怀忏悔的，有罪的人却爱他。他医治疾病，使死人复活。耶稣称神为“天父，”并向人类展示了那最强大的神如何像父亲一样的爱你。他是无罪的，是完全的，却为了把人类从罪的奴仆中释放出来，为有罪的作交换。神牺牲了耶稣为了实现先知所写的：他会成为神的羔羊抹去这世上一切的罪。 
</div>

<div style="width:560px;margin-top:30px;margin-bottom:30px;">
然而耶稣的故事并没有停到这里。三天之后，神使他从死里复活，使那些凡相信他的也拥有永恒的生命。耶稣向他的门徒承诺他会作为审判者和君王再来。弥赛亚是神赐给人类的礼物，只有通过他人们才不会死在罪中，才不会与神隔绝。那些接受耶稣为他们的罪而死的人能重新建立与神完美的关系—是亚当所丢失的。但是，任何礼物如果你不接受它，那么它就不属于你。    
</div>

<div style="width:560px;margin-top:35px;margin-bottom:30px;text-align:center">
<b>这份礼物不是我们应得的</b><br/>
<b>虽然这份礼物不是我们应得的，但是神爱我们，他愿意赐给我们。</b><br/>
<b>然而，作为礼物，如果你不接受它，它就不属于你。</b><br/>
<b>你愿意接受神的这份礼物吗？</b>    
</div>

<div style="width:560px;margin-top:10px;margin-bottom:25px;text-align:center">
    <span style="margin-right:20px;">
        <a class="btn btn-primary" href="{% url 'webpages:acceptform' %}?accepted=yes">是</a>
    </span>
    <span>
        <a class="btn btn-warning" href="{% url 'webpages:acceptform' %}?accepted=no">否</a>
    </span>
</div>

</div><!--/.content-->
</div><!--/.wrapper-->
{% endblock %}

