{% extends "base/basic.html" %}
{% load staticfiles %}

{% block content %}

<div class="wrapper">

<div class="back_to_message"><a href="/message">Мавзуга қайтиш</a></div>

{% if accepted == 'yes' %}
<!--
<img class="promo" src="{% static 'img/promo_en.png' %}"/>
-->


<div class="content">

	<p id="site-title">Xudo sevgidir</p>

	<h3>Исо Масиҳ - Худо бизга тақдим қилган қадрли ва мукаммал совғадир.</h3>

	<div>
    Исо Масиҳ - ёрдамга мухтож бўлганларга Худо тақдим қилган бебаҳо совғадир. Худо Исо Масиҳ орқали берадиган нажот - бу ҳар бир шахсга тегишли.(Юҳанно 3:16) Кимки Исо Масиҳни қабул қилса Унинг чексиз севгиси ва бебаҳолигини тан оладиган бўлади.
    </div>

	<h3>Худонинг совғаси – бу абадий жазонинг олдини олади.</h3>

	<div>
    Исо Масиҳни Нажоткор деб ишонсак, биз гуноҳни тузоғидан озод бўламиз. Ва биз маҳқум қилинмайдиган бўламиз. (римликларга 8:1) Шу муқаддас совға Исога имон келтирганларни Худодан абадий ажралиб қолишнинг, яъни абадий ўлимнинг олдини олади.
    </div>


	<h3>Худонинг совғаси абадийдир.</h3>

	<div>
    Исо Масиҳ бизга берадиган нарса абадий нарсадир. Биз нажот топган шу заҳоти Муқаддас Руҳ бизлар аро маскан қилади. (юҳанно 14:16). Худонинг фарзанди бўлганимиз учун чириб кетмайдиган самовий меросга эга бўламиз. (1бутрус 1:3-5)
    </div>


	<h3>Худонинг совғаси тўлиқ севгидир.</h3>

	<div>
    Худованд чексиз севги ила бизнинг ўрнимизга Ўзининг азиз Ўғлини қурбонликка берди. Ҳеч ким шунга сазовор эмас. Чунки гуноҳ қилмайдиган ҳеч ким йўқ (римликларга 3:10), биз нафсга берилиб Худодан юз ўгирдик. Шундай бўлса-да, Худованд бизга ўз муҳаббатини кўрсатди ва Ўзининг ягона Ўғли Исо орқали ўша муҳаббатини исботлади. Худонинг севгиси туфайли биз гуноҳ занжиридан халос бўлишимизга йўл очилди, ва яратилган асл суратга қайта ўзгаришимиз мумкин.
    </div>

	<h3>Худонинг совғаси тинчликни келтиради.</h3>

	<div>
    Яхши шароит ва муҳитдан келадиган тинчлик ҳақиқий тинчлик эмасдир. Чунки шунақа тинчлик инсон ва дунё орасида топиладиган қандайдир уйғунлик бўлади ва осонгина бузилади. Исо ҳеч қачон бузилмайдиган абадий ва ҳақиқий тинчликни такдим қилади. Албатта шу тинчлик одамларни мамнун қилади. Лекин гуноҳга тўлган ҳаёт асло тинчликни келтира олмайди. Инсон Худонинг иродасига нолойиқ ҳаёт кечирганда Худованд ваъда берган нарсага эриша олмайди. Хуллас, Исо Масиҳга имон келтиргандагина урушга ўхшайдиган ҳаёт тугайди.
    </div>

    <div>
    Раббимизга бўйсуниш орқали бизнинг ҳаётимизга Худонинг тинчлиги тўладиган бўлади. Ичимизда Муқаддас Руҳ маскан топганда биз ишонч билан ҳамма нарсага эриша оламиз. Бундай йўқ бўлмайдиган тинчликга эга бўлиш учун ягона йўл Исо билан муносабатга киришдир.
     </div>

    <div>
    Римликларга 5:1да Ҳаворий Павлус биз оқланишимиз учун Раббимиз бизнинг ўрнимизга қурбон бўлганлигига инониш лозим деб айтяпти. Оқланиш билан биз Худо олдида тура оламиз ва шу оқланиш бизнинг юрагимизни Худо берган барча нарсаларга эга бўлишга тайёрлайди.
    </div>
    
    <div>
    Сиз “Мен учун Исо Масиҳ ўлганлигига ишонаман.” деб Худога айтганмисиз?
    </div>

    <div>
    <b>Исо Масиҳ ҳақида янада чуқурроқ билишни истайсизми?</b>
    </div>
    
    <div>
    <b>Агар сиз ҳануз Худонинг совғасини яъни Исо Масиҳдан топиладиган нажотни қабул қилмаган бўлсангиз, шу бугун сизнинг руҳий туғилган кунингиз бўлиши мумкин. Сиз Худо ҳақида янада чуқурроқ билишингиз учун бизлар сизга ёрдам бермоқчимиз.</b>
    </div>    

{% else %}

<!--
<img class="promo" src="{% static 'img/promo_2_en.png' %}"/>
-->

<div class="content">

	<p id="site-title">Xudo sevgidir</p>

	<h3>Сиз тўғри йўлни танлаб олишингиз учун биз сизга ёрдам беришимиз мумкин. </h3>

	<div>
	Шу совғани олиш учун қандайдир тўлов бор деб ўйламанг. Чунки Худованд бизга текинга шу совғани такдим қилди ва ҳамма одам шуни олиш имкониятига эгадир.
	</div>
    
	<div>
    Исо Масиҳ Худо бизга берган энг қадрли ва мукаммал совғадир. Исо Масиҳ ёрдамга мухтож бўлган бизга Худо аямасдан бебаҳо тўлов тақдим қилган совғадир. Худо Ўзининг ягона Ўғли орқали берадиган нажот бу шахсий ва ҳаммага тегишли.(юҳанно 3:16) Кимки Исо Масиҳни қабул қилса Унинг чексиз севгиси ва бебаҳолигини тан оладиган бўлади.
    </div>

    <div>
    <b>Аммо қандай совға бўлмасин, ўзингиз шунисини оламан демагунча у сизники бўлмайди.</b>
    </div>

	<div>
	<b ><font style="color:#3399FF;">Қарор қилишингиздан олдин, агар Исо ҳақида янада чуқур билишни истасангиз бизга e-mailингизни юборинг. Сизга керак бўлган бошқа маълумотларни юборамиз.</font></b>   
	</div>


{% endif %}

{% if mssg %}
	<div>
	<b ><font style="color:#FF6633;">E-mail адресингизни бизга ёзиб юборинг.</font></b>   
	</div>


{% endif %}


	<form class="form-inline" action="{% url 'webpages:acceptform' %}?accepted={{accepted}}" method="post">
	{% csrf_token %}
    
	<div class="row">
		<div class="col-md-12"> 
			<label class="control-label" style="margin-right:5px;margin-top:5px;font-size:12px;">Сизнинг e-mailингиз:</label>
			<input class="form-control" style="width:200px;margin-top:5px;margin-right:10px;" type="text" id="txtEmail" name="email" placeholder="E-mail адресингизни бизга ёзиб юборинг..." />
			<input class="btn btn-success"  style="margin-right:5px;margin-top:5px;" type="submit" id="btnValidate" name="yes_email" value="Yuborish" />    
			<input class="btn btn-warning" style="margin-top:5px;" type="submit" name="no_email" value="Bunday Qilma" />     
			<input type="hidden" name="accepted" value="{{accepted}}">    
		</div>
	</div>
</form>

</div><!-- /.content -->
</div><!-- /.wrapper -->

{% endblock %}
