{% extends "base/basic.html" %}
{% load staticfiles %}
{% block content %}

<div class="wrapper">

<h1 id="site-title">Xudo sevgidir</h1>

<div class="video">
<iframe src="https://player.vimeo.com/video/107014958?autoplay=1" width="720" height="480" frameborder="0" allowfullscreen></iframe>
</div>
<img id="video-shadow" src="{% static 'img/shadow.png' %}"/>


<div class="content">

<center>
    <span style="font-weight:bold; color:#916816">|</span>&nbsp;<a onclick="showDesc()" style="color:#000; cursor:pointer;">Video o'yin bo'lmasa, bu yerni bosing.</a>&nbsp;<span style="font-weight:bold; color:#916816">|</span>
</center>

<script>
	function showDesc() {
		$('#description').slideDown()
	}
</script>

<div id="description">
<p>
Одам Ато ва Момо Ҳаво Худовандга бўйсунмагандан бери, одамнинг гуноҳлари ювилиши учун ҳайвонни қурбонликка келтириш керак эди. 
Иброҳим ўз ўғлини қурбонлик келтирмоқчи бўлган пайтда Худованд унинг ўғлининг ўрнига ҳайвонни тайёрлаб қўйган эди.
Фиръавн Мусо ва Исроил халқини қўйиб юбормаган пайтда ҳам Худованд эшиклар кесакисининг ёнларига ва тепасига қурбонлик қони суртилмаган хонадондаги барча тўнғич ўғилни ўлдирган эди.
Худо ўз халқига қурбонлик қони билан гуноҳни кечираман деганида довуд ва бошқа пайғамбарлар ростдан ҳайвонларнинг қони одамнинг гуноҳларини юва оладими ёки ушбу нарса шунчаки келажакдаги рамз бўлармикин деб ўйлашган.
Довуд инсон сифатида камтарона келадиган Масиҳ ҳақида, яъни бутун дунёни бошқариб ҳокимлик қиладиган Довуднинг Авлоди ҳақида башорат қилди.

</p>

<p>
Боқира қиз Марямдан туғилган Исо, севги ва мурувват ҳақида халққа таълимот берди. У Худони севишдан кўра диний қонун-қоидаларга кўпроқ эътибор берган диний иккиюзламачиларнинг дилига танбеҳ берди. Аммо у камбағаллар ва гуноҳкорлардан севги қозонди. У хасталарга шифо берди, ҳатто ўлиқларни ҳам тирилтирди. Исо Худони Ўзининг Отаси деб чақириб, ҳамма қудратга эга бўлган бўлса-да, ўша қудратли Исо инсониятни севди. У гуноҳнинг қулига айланган инсонни гуноҳдан халос қилиш учун Ўзининг муқаддаслигидан воз кечиб инсонларнинг гуноҳини Ўзига олди.
Худованд кўплаб пайғамбарлар орқали Исони “дунёнинг гуноҳини Ўзига олган Худонинг қурбонлик қўзиси” деб айтилган сўзини амалга ошириш учун Уни қурбон қилдирди.

</p>

<p>
Лекин шундайгина қолиб кетмай, уч кундан кейин Худованд Исони ўликлар орасидан тирилтирди ва Унга ишонадиганлар ҳам абадий ҳаётга эга бўлиши ҳақида ваъда берди.
Бу ходисалардан кейин Исо Масиҳ ҳукмдор ва подшоҳ бўлиб бу дунёга қайтиб келишини ваъда берди.
Масиҳ инсон учун бўлган Худованднинг ҳадяси бўлиб, қурбон бўлган Исога имон келтирадиган ҳар бир киши ҳалок бўлмайди. Ва гуноҳ сабабли Худодан ажралиб қолган муносабатни У мукаммал даражада тиклади.
</p>


<p style="text-align:center">
<b>Шу совғани олишга ҳеч ким арзимайди, аммо Худованд бизни севгани учун шу совғани бизга текинга тақдим этди. <br/>Аммо қандай совға бўлишидан қатъий назар, ўзингиз шунисини оламан демагунча у сизники бўлмайди.</b>    
</p>

</div> <!-- description -->



<div style="text-align:center">
<b>Сиз Худо томонидан бериладиган совғани олишни хоҳлайсизми?</b>    
</div>


<div style="text-align:center">
    <span style="margin-right:20px;">
        <a class="btn btn-primary" href="{% url 'webpages:acceptform' %}?accepted=yes">Ҳа</a>
    </span>
    <span>
        <a class="btn btn-warning" href="{% url 'webpages:acceptform' %}?accepted=no">Йўқ</a>
    </span>
</div>

</div><!--/.content-->
</div><!--/.wrapper-->

{% endblock %}

